@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Work+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  bottom: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.contacts .footer-social h3, .contacts .footer-help h3, .contacts .footer-about h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #212353;
}

.contacts .footer-help ul li, .contacts .footer-about ul li, .nav-menu {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  color: #4b5d68;
}

.contacts .footer-button .learn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 160%;
  color: #ffffff;
}

.request {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #212353;
}

.contacts .title h2 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 130%;
  color: #212353;
}

.contacts .title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 160%;
  color: #4b5d68;
}

.contacts .footer-contacts .contacts-logo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 160%;
  color: #212353;
}

.contacts .footer-contacts {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}

.contacts .footer-contacts .contacts-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}

.contacts .footer-copyright {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}

body {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 1170px;
  width: 99%;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1rem 0;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0 0 6rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-menu .nav-item {
  margin: 0 1rem;
}
.nav-menu .nav-item .nav-link:hover {
  color: #8a40ee;
}

.hamburger {
  border: none;
  background-color: transparent;
  display: none;
}
.hamburger .logo-item:nth-child(1) {
  fill: #f063b8;
}
.hamburger .logo-item:nth-child(2) {
  display: none;
}

.request {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13.125rem;
  height: 3.75rem;
  border: 1px solid #9c69e2;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 3.125rem;
}
.request:hover {
  background-color: #9c69e2;
  color: #fff;
}
.request:hover svg {
  fill: #fff;
}
.request div {
  margin: 0 0 0 1rem;
}
.request svg {
  margin: 0 1rem 0 0;
  fill: #9c69e2;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 6rem 0 0 0;
}
.contacts .title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23.125rem;
          flex: 0 1 23.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 5rem 0;
}
.contacts .title h2 {
  margin: 0 0 1rem 0;
}
.contacts .footer-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28.125rem;
          flex: 0 1 28.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 5rem 0;
}
.contacts .footer-button .learn {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  width: 13.125rem;
  height: 3.75rem;
  background: #f063b8;
  border: 1px solid #f063b8;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 3.125rem;
}
.contacts .footer-button .learn:hover {
  background: #eb4bab;
  border: 1px solid #eb4bab;
}
.contacts .footer-contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25rem;
          flex: 0 1 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 5rem 0;
}
.contacts .footer-contacts .contacts-text {
  margin: 0.5rem 0;
}
.contacts .footer-contacts .contacts-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 4rem 0;
}
.contacts .footer-contacts .contacts-logo svg {
  margin: 0 1rem 0 0;
}
.contacts .footer-about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 5rem 0;
}
.contacts .footer-about h3 {
  margin: 0 0 2rem 0;
}
.contacts .footer-about ul li {
  margin: 1rem 0;
}
.contacts .footer-about ul li :hover {
  color: #8a40ee;
}
.contacts .footer-help {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 5rem 0;
}
.contacts .footer-help ul li {
  margin: 1rem 0;
}
.contacts .footer-help ul li :hover {
  color: #8a40ee;
}
.contacts .footer-help h3 {
  margin: 0 0 2rem 0;
}
.contacts .footer-social {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  margin: 0 0 5rem 0;
}
.contacts .footer-social h3 {
  margin: 0 0 2rem 0;
}
.contacts .footer-social .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts .footer-social .socials li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.125rem 0 0 0;
  width: 3.125rem;
  height: 3.125rem;
  margin: 0 0.5rem 0 0;
  border: 1px solid #e9e9ee;
  background-color: #e9e9ee;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.contacts .footer-social .socials li svg {
  fill: #fff;
}
.contacts .footer-social .socials li:hover {
  border: 1px solid #00acee;
  background-color: transparent;
}
.contacts .footer-social .socials li:hover svg {
  fill: #00acee;
}
.contacts .footer-copyright {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin: 0 0 5rem 0;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(240, 99, 184, 0.95);
    width: 96%;
    margin: 1rem 1rem;
    border-radius: 0.625rem;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    overflow: auto;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-menu.active .nav-item {
    margin: 5rem 0;
    font-size: 200%;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin: 0 1rem;
  }
  .hamburger.active .logo-item:nth-child(1) {
    display: none;
  }
  .hamburger.active .logo-item:nth-child(2) {
    display: block;
    fill: #9c69e2;
  }
}
/*# sourceMappingURL=index.css.map */