.main {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 6rem 0 0 0;
  padding: 0 0 2.188rem 0; //to move down background
  background-image: url("../img/hero-first.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 60%;

  &-information {
    max-width: 40.625rem;
    h1 {
      @extend %title-hero;
    }
    p {
      @extend %text;
      display: block;
      max-width: 23.125rem;
      margin: 4rem 0 3rem 0;
    }
  }
  &-blue {
    @extend %button;
    transition: all 0.1s ease-out;
    width: 13.125rem;
    height: 3.75rem;
    background: #9c69e2;
    border: 1px solid #9c69e2;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 3.125rem;
    &:hover {
      background: #8a40ee;
      border: 1px solid #8a40ee;
    }
  }
}

.about {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  margin: 6rem 0 0 0;
  background-color: #fde8f5;
  background-image: url("../img/hero-second.png");
  background-repeat: no-repeat;
  background-position: 8% center;
  background-size: 28%;
  border-radius: 3.125rem;

  &-information {
    max-width: 31.25rem;
    margin: 6.875rem 4.375rem;

    h2 {
      @extend %title;
    }
    p {
      @extend %text;
      display: block;
      margin: 2.5rem 0 0 0;
    }
  }
}

.features {
  display: flex;
  flex-wrap: wrap;

  &-title {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-data {
    flex: 0 1 50%;
    display: flex;
    justify-content: end;
    position: relative;

    img {
      position: absolute;
      top: 30%;
      left: 2%;
      width: 40%;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: left;
      max-width: 25rem;
      padding: 3.875rem 4.375rem 3.875rem 6.25rem;
      border-radius: 3.125rem;
      background-color: #f0faf9;
    }
  }

  &-access {
    flex: 0 1 50%;
    display: flex;
    justify-content: end;
    position: relative;

    img {
      position: absolute;
      top: 30%;
      left: 2%;
      width: 40%;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: left;
      max-width: 25rem;
      height: 25rem;
      padding: 3.875rem 4.375rem 3.875rem 6.25rem;
      border-radius: 3.125rem;
      background-color: #f0faf9;
    }
  }

  &-print {
    flex: 0 1 50%;
    display: flex;
    justify-content: end;
    position: relative;

    img {
      position: absolute;
      top: 30%;
      left: 2%;
      width: 40%;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: left;
      max-width: 25rem;
      height: 25rem;
      padding: 3.875rem 4.375rem 3.875rem 6.25rem;
      border-radius: 3.125rem;
      background-color: #f0faf9;
    }
  }

  &-security {
    flex: 0 1 50%;
    display: flex;
    justify-content: end;
    position: relative;

    img {
      position: absolute;
      top: 30%;
      left: 2%;
      width: 40%;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: left;
      max-width: 25rem;
      height: 25rem;
      padding: 3.875rem 4.375rem 3.875rem 6.25rem;
      border-radius: 3.125rem;
      background-color: #f0faf9;
    }
  }
}
