@import "../scss/reset";
@import "../scss/fonts";

html {
  scroll-behavior: smooth;

  body {
    user-select: none;
    max-width: 1170px;
    width: 96%;
    margin: 0 auto;
  }
}

@import "../scss/header";
@import "../scss/main";
@import "../scss/footer";
@import "../scss/adaptive";
